$icomoon-font-family: "node-icons" !default;
$icomoon-font-path: "fonts" !default;

$ni-decrypt: "\e900";
$ni-ai: "\e901";
$ni-encrypt: "\e902";
$ni-databricks: "\e903";
$ni-claude: "\e904";
$ni-gemini: "\e905";
$ni-openai: "\e906";
$ni-imap: "\e907";
$ni-branch: "\e908";
$ni-loop: "\e909";
$ni-error: "\e90a";
$ni-console: "\e90b";
$ni-file-agent-send: "\e90c";
$ni-file-agent-receive: "\e90d";
$ni-file-agent-alt: "\e90e";
$ni-file-agent: "\e90f";
$ni-response: "\e910";
$ni-cloud-file-rm: "\e911";
$ni-cloud-file-read: "\e912";
$ni-cloud-file-write: "\e913";
$ni-cloud-file-ls: "\e914";
$ni-smtp: "\e915";
$ni-xlsx: "\e916";
$ni-flat: "\e917";
$ni-txt: "\e918";
$ni-delimeter: "\e919";
$ni-csv: "\e91a";
$ni-json: "\e91b";
$ni-xml: "\e91c";
$ni-process: "\e91d";
$ni-dataservice: "\e91e";
$ni-queue-subscribe: "\e91f";
$ni-queue-publish: "\e920";
$ni-disk-mv: "\e921";
$ni-disk-rm: "\e922";
$ni-disk-read: "\e923";
$ni-disk-write: "\e924";
$ni-disk-ls: "\e925";
$ni-sftp-mv: "\e926";
$ni-sftp-rm: "\e927";
$ni-sftp-read: "\e928";
$ni-sftp-write: "\e929";
$ni-sftp-ls: "\e92a";
$ni-render: "\e92b";
$ni-parse: "\e92c";
$ni-blob-rm: "\e92d";
$ni-blob-read: "\e92e";
$ni-blob-write: "\e92f";
$ni-blob-ls: "\e930";
$ni-http-client: "\e931";
$ni-http-server: "\e932";
$ni-database-delete: "\e933";
$ni-database-update: "\e934";
$ni-database-write: "\e935";
$ni-database-read: "\e936";
$ni-timer: "\e937";
$ni-file-agent-recieve: "\e938";
$ni-buffer-dense: "\e939";
$ni-stream: "\e93a";
$ni-buffer: "\e93b";
$ni-folder: "\e93c";
$ni-sftp: "\e93d";
$ni-blob-delete: "\e93e";
$ni-blob-put: "\e93f";
$ni-blob-get: "\e940";
$ni-blob-list: "\e941";
$ni-mapping: "\e95e";
